a {
    transition: all 0.8s ease;
}

.container {
    background: #eee;
    width: 90%;
    margin: 0 auto;    
}

.link__descritivo--imagem {
    display: block;
    margin-bottom: 30px; 
    color: transparent;	
}

.main__header h1 {
    padding: 20px 40px;
}

.main__header ul {
    border-bottom: 1px solid red;
    display: block;
    margin-top: 30px; 
    float: none;
    overflow: auto;
    clear: both;
}

.main__header li {
    float: left;
}

.main__header a {
    display: block;
    transition: all 0.8s ease;
    padding: 10px 20px;
}

.main__header a:hover {
    background: blue;
    color: white;
}

.main__image--responsiva {
    /*width: 50%;*/
    max-width: 100%;
}

.main__referencia--primeiro {
	display: block;
	font-style: armenian;
	font-size: 15px;
	color: gray;
	margin-bottom: 5px;
}

.main__selecao--com--semantica {
	display: block;
	color: blue;	
	margin-bottom: 20px;
}

.main__selecao--sem--semantica {
	display: block;
	color: gray;	
	margin-bottom: 20px;
}

main {
    clear: both;
} 

section {
	float: right;
	width: 70%;
    padding: 10%;
    background-color: write;
}

footer {
    clear: both;
	padding: 5%;
}